/*------------reset------------*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------variaveis----------*/
:root {
    /*color*/
    --background: #024059;
    --primary: #6FC3CC;
    --warning: #FAB31A;
    --danger: #DC2911;
    --white: #fff;
    --neutrals: #B9B5B5;
    --text: hsla(0, 0%, 87%, 1);
    --gradiente: linear-gradient(90deg, #04BF8A, #025940);

    /*Tipografia*/
    --ff-oxanium: "Oxanium", sans-serif;
    --ff-opensans: "Open Sans", sans-serif;

    --fs-1: 3.6rem;
    --fs-2: 2.4rem;
    --fs-3: 2rem;
    --fs-4: 1.7rem;
    --fs-5: 1.6rem;
    --fs-6: 1.5rem;
    --fs-7: 1.4rem;
    --fs-f8: 1.2rem; 

    --weight-regular: 400;
    --weight-semibold: 600;
    --weight-bold: 700;

    /*espaço*/
    --section-spacing: 60px

    /*borda*/
    --border: hsl(186°, 48%, 62%);
    --border-30: hsla(267, 100%, 63%, 0.3);

    /*border*/ 
    --radius-circle: 50%;
    --radius-5: 5px;
    --radius-3: 3px;

  /*sombra*/
  --shadow: 0px 2px 5px 0px #073dec;
  --shadow-1: 0px 2px 20px #073dec;

    /*==== transição ====*/
  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);

  /*==== clip path ====*/
  --clip-path-1: polygon(0 0, 100% 0, 100% 0, 0 0);
  --clip-path-2: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  --clip-path-3: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%);
  --clip-path-4: polygon(90% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
  --clip-path-5: polygon(100% 0, 100% 100%, 10% 100%, 0 60%, 0 0);
  --clip-path-6: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 40%);
  --clip-path-7: polygon(100% 0, 100% 60%, 90% 100%, 0 100%, 0 0);
  --clip-path-8: polygon(0% 0%, 70% 0, 100% 30%, 100% 100%, 0 100%);
  --clip-path-9: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

li {

    list-style: none;
  }
  
  a,
  img,
  span,
  input,
  button,
  textarea,
  ion-icon {
    display: block;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  img {

    height: auto;
  }
  
  input,
  button,
  textarea {

    background: none;
    border: none;
    font: inherit; /*herda da div pai*/
  }
  
  input,
  textarea {

    width: 100%;
  }
  
  ion-icon {

    pointer-events: none;
  }
  
  address {

    font-size: 10px;
    scroll-behavior: smooth;
  }

  body {

    background-color: var(--primary);
    color: var(--text);
    font-family: var(--ff-oxanium);
    font-size: var(--fs-4);
    font-weight: var(--weight-regular);
    line-height: 1.6;
    overflow-x: hidden;
    height: 500000px;
  }

  .w-100 {
    width: 100%;
  }

   /*configuração barra de rolagem*/
   ::-webkit-scrollbar {
    width: 10px;
   }


   ::-webkit-scrollbar-track{
    background-color: var(--background);
   }

   ::-webkit-scrollbar-thumb {
    background-color: #056d86;
   }

   /*CSS reutilizável*/

   .container {

    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; /*16px*/
   }

  .btn {

    position: relative;
    background: var(--gradiente);
    color: var(--white);
    font-size: var(--fs-f80);
    font-weight:var(--weight-semibold);
    max-width: 120px;
    height: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    padding-inline: 30px;
    clip-path: var(--clip-path-6)
  }

 .btn:hover {

   transform: scale(1.05);
 }

  /*HEADER*/

.logo img {

  width: 160px;
  height: auto;
  object-fit: contain;
  display: block;
}



  /*HEADER*/

.header {

  background-color: var(--background);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 12px;
  z-index: 4;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list {
  display: flex;
}

.header.active {
  position: fixed;
  animation: slideUP 1s ease forwards;
  }
@keyframes slideUP {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0)
  }
}

.navbar-link {
  padding: 12px 25px;
  text-transform: uppercase;
  font-size: var(--fs-6);
  font-weight: var(--weight-semibold);
  color: var(--white);
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #04BF8A;
}

.search-btn {
  color: var(--white);
  font-size: var(--fs-3);
  border: none;
  transition: transform 0.2s ease, color 0.3s ease;
}

.search-btn:hover {
  transform: scale(1.2);
  color: #04BF8A;
}

 /*BANNER*/
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /*background: url('../img/Background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;*/
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

/*SERVIÇO*/
.container-serv {
  padding-inline: 16px;
  max-width: 1200px;
  margin: 0 auto;

}

.service-list {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  padding-block: 60px 30px;
  padding-inline: 25px;
  gap: 30px;
  border-radius: var(--radius-5);
  background-color: #025940;
  box-shadow: var(--shadow-1);
  justify-items: center;
  align-items: start;
  margin-block-start: -60;
}

.service-card a {
  color: #04BF8A;
}

.service-card .card-text {
  color: #fff;
  font-size: var(--fs-f8);
  margin-block: 20px 15px;
}

.service-card {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-card img{
  margin: 0 auto;
  
}

.service-card .card-title {
  margin-top: 30px;
}

.service-card .card-icon {
  transition: var(--transition-1);
}

.service-card .card-icon:hover {
  transform: scale(1.2);
}

.service-card .card-icon,
.btn-circle {
  max-width: max-content;
  margin-inline: auto;
}

.service-card .btn-circle {
  color: #6FC3CC;
  font-size: 2rem;
  padding: 18px;
  border-radius: var(--radius-circle);
  box-shadow: var(--shadow);
  transition: var(--transition-1);
  margin-top: auto;
}

.service-card .btn-circle:hover {
  background-color: var(--background);
  color: #fff;
  cursor: pointer;
  filter: contrast(1.4) brightness(1.1) drop-shadow(0 010px #6FC3CC);
}





